@charset "UTF-8";

*{  
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    margin: auto;
    min-width: 300px;
    background-image:linear-gradient(to bottom, rgb(0, 0, 0), rgb(100,100,100), rgb(0,0,0));
}
header, footer {
    background-color: rgb(0, 0, 0);
    font-variant: small-caps;
    color: white;
    padding: 1vh;
    margin: 0 0 2vh 0;
    font-size: 13px;
    text-align: center;
}
header a, footer a {
    color: white;
}

main {
    margin: auto;
    height: 87vh;
    position: relative;
    max-width: 900px; 
}  
#monitor {
    margin: auto;
}
main>section>iframe {
    position: absolute;
    top: 8vh;
    left: 1vw;
    width: 96%;    
    height: 85%;
    border: 10px solid gray;
    border-radius:5% ;
}
#botoes {
    text-align: center;
}
.img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 1vw;
}

main {

    /*
    
    Shorthand:
    background-color: black ;
    background-image: url();
    background-position: center center;
    background-repeat: no-repeat;
    
    Fora da Shorthand:; 
    background-size: cover contain;
    */
}


